.align-middle {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 3rem auto;
}

.create-portfolio-heading {
  width: max-content;
  margin: 0 auto;
  margin-bottom: 1.5rem;
  color: rgb(159, 56, 255);
}
.create-portfolio-steps {
  color: rgb(159, 56, 255);
}
.upload-photo-container {
  border: 1px solid rgb(160, 160, 160);
  height: 13rem;
  width: 13rem;
  border-radius: 50%;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgb(236, 236, 236);
  cursor: pointer;
}
.upload-photo-container-icon{
  font-size: 5rem;
  color: rgb(160, 160, 160);
}
.photo {
  width: 100%;
}
#input-photo {
  margin-top: 2rem;
  margin-left: 5rem;
}
.input-bio,
.input-intro {
  padding: 0.5rem;
  border: none;
  border: 1px solid gray;
  border-radius: 6px;
  font-size: 1.1rem;
  font-weight: 600;
  width: 18rem;
}
.input-container,
.text-area-container {
  position: relative;
  padding-bottom: 1rem;
  margin-top: 4rem;
  margin-bottom: 1rem;
}
.input-container {
  margin-top: 1rem;
}
.text-area-container textarea {
  width: 25rem;
  height: 10rem;
}
.input-count {
  position: absolute;
  bottom: 0;
  right: 0;
  font-size: 0.6rem;
  color: gray;
}
.input-hint {
  color: rgb(117, 117, 117);
  font-size: 0.9rem;
}
.social-link-choose-btn {
  border: 1px solid gray;
  padding: 0.3rem;
  border-radius: 10px;
  color: white;
  font-size: 0.9rem;
  font-weight: 500;
  background-color: rgb(167, 72, 255);
  display: flex;
  align-items: center;
  margin-bottom: 0.8rem;
  position: relative;
}
.social-link-choose-btn-icon {
  margin-right: 0.3rem;
  font-size: 1.1rem;
}
.add-icon {
  margin-left: 0.2rem;
  font-weight: 800;
  font-size: 1.1rem;
}
.remove-icon {
  transform: rotateZ(45deg);
}
.input-link {
  position: absolute;
  left: 105%;
  top: 0;
  padding: 0.2rem;
  border: none;
  border: 1px solid gray;
  border-radius: 8px;
}

.input-skill-container {
  display: flex;
  align-items: center;
  margin-top: 0.9rem;
}

.input-skill-container input {
  border: none;
  border: 1px solid gray;
  border-radius: 7px;
  padding: 0.4rem;
  font-size: 1rem;
  font-weight: 600;
}
.send-skill-btn {
  padding: 0.3rem;
  width: 1.6rem;
  height: 1.6rem;
  background-color: rgb(196, 132, 255);
  border-radius: 7px;
  cursor: pointer;
  color: white;
  position:absolute;
  left: 103%;
}
.skills-container {
  display: flex;
  width: 90%;
  height: 3rem;
  /* background-color: hotpink; */
  overflow: auto;
  margin-bottom: 1rem;
  align-items: center;
}
.skills-container::-webkit-scrollbar{
  width: 0;
}

.skill {
  background-color: rgb(167, 72, 255);
  border-radius: 8px;
  padding: 0.3rem 0.7rem;
  font-size: 0.9rem;
  font-weight: 500;
  color: white;
  margin-right: 1rem;
  display: flex;
  align-items: center;
  min-width: 5rem;
  justify-content: space-between;
}
.skill-remove{
  cursor: pointer;
}
.create-portfolio-btn{
  width: max-content;
  min-width: none;
  margin: 0 50%;
  transform: translateX(-50%);
}
.projects-grid{
  margin-top: 1rem;
  width: 100%;
  min-height: 11rem;
  display: grid;
  gap: 3.5rem 3rem;
  grid-template-columns: repeat(auto-fit,minmax(17rem,19rem));
}
.personal-projects-grid{
  /* margin-top: 2rem; */
  width: 85%;
  justify-content: space-between;

}
.project{
  overflow: hidden;
}
.project-image-container{
  background-color: gainsboro;
  border: 1px solid gainsboro;
  /* width: 19rem; */
  height:12rem;
  border-radius: 8px;
  margin-bottom: 0.3rem;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  overflow: hidden;
}
.project-image{
  height: 100%;
}

.input-project-container{
  margin-top: 0.6rem;
  margin-bottom: 0.4rem;
}
.input-project-name{
  padding: 0.2rem;
  font-size: 0.9rem;
  margin-top: 0;
  width: 96%;
  border: none;
  border: 1px solid gray;
  font-weight: 600;
  border-radius: 7px;
  text-transform: capitalize;
}
.input-project-snippet{
  width: 96%;
  padding: 0.2rem;
  height: 4.5rem;
  border-radius: 7px;
  border: none;
  border: 1px solid gray;

}
.project-delete-btn{
  margin: 0 auto;
  font-size: 0.7rem;
  padding:0.3rem;
  border-radius: 8px;
  border: none;
  background-color: red;
  color: white;
  font-weight: 600;
  letter-spacing: 1px;
}
.add-project-icon{
  color: gray;
  font-size: 5rem;
}