@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800&display=swap");

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  outline: none;
  user-select: none;
  font-family: "Poppins", sans-serif;
}
*:first-letter{
  text-transform: capitalize;
}
.logo a:first-letter{
  text-transform: none;
}
.content {
  margin-top: 0rem;
}
nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  padding: 1rem 5%;
  position: relative;
}
.personal-nav-links {
  width: 20%;
}
.personal-page-content {
  min-height: 80vh;
  width: 75%;
  margin: 0rem auto;
  padding: 4rem;
  /* background-color: greenyellow; */
}
.personal-subheading {
  margin-top: 2rem;
  margin-bottom: 1rem;
  
}
.intro-flex {
  width: 100%;
  display: flex;
  /* background-color: silver; */
  align-items: center;
  justify-content: center;
  margin-bottom: 6rem;
}
.photo-container {
  width: 14rem;
  height: 14rem;
  border-radius: 50%;
  border: 1px solid gray;
}

.personal-intro-text {
  max-width: 80%;
  word-break: break-all;
  padding: 1rem 3rem;
  margin-left: 0.5rem;
}
.personal-intro {
  color: black;
  line-height: 1.7rem;
  margin-bottom: 1rem;
  font-size: 2rem;
  text-transform: capitalize;
}
.personal-bio {
  font-size: 0.85rem;
  color: gray;
  margin-bottom: 1rem;
  /* margin-left: 0.5rem; */
  width: 80%;
  white-space: pre-line;
  overflow-wrap:normal ;
}
.personal-social-btns-container {
  display: flex;
  align-items: center;
}
.personal-social-btns {
  margin-right: 1rem;
  cursor: pointer;
  font-size: 1.25rem;
}
.photo-container {
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
}
.personal-photo {
  width: 105%;
}

.skills-container {
  margin-left: 0.3rem;
}
.personal-skill {
  margin-right: 1rem;
  border: 1px solid gray;
  padding: 0.3rem;
  border-radius: 7px;
}

.project-snippet{
  font-size: 0.8rem;
  width: 97%;
  margin-left: 0.1rem;
  /* background-color: hotpink; */
  word-break: break-all;
}
.project-name{
  width: 97%;
  margin-top: 0.5rem;
}